
[IdCard] {
	font-size: 1.2em;
	display: block;
	width: 100%;
	height: 100vh;
}

[IdCard] > * {
	width: auto;
}

/* EntryGroup */
[EntryGroup] {
	/* color: var(--white); */
}

[EntryGroup] {
	min-height: 3em;
	overflow: hidden;
}

[EntryGroup] > [Entry] {
	padding: 0.2em var(--padding);
	margin: var(--padding) 0;
}

[Entry] {
	display: flex;
	margin: -2px 0;
	border-bottom: 1px solid var(--white-background);
}

[Entry]:focus,
[Entry]:focus-within {
	background-color: var(--accent-background);
}

[Entry] > * {
}

[EntryVal] {
	flex-grow: 1;
	display: block;
}

[EntryAction] {
}

[EntryVal] > [title] {
	padding: 0.4em 0;
	font-size: 0.8em;
	opacity: 0.6;
}

input {
	padding: 0.6em 0;
	outline: none;
	border: none;
	background-color: transparent !important;
	/* color: var(--white); */
}