/* Variables */
:root {
	--poster-animation-duration: 1200ms;
	--animation-duration: 600ms;
	--animation-duration-short: 300ms;
	--animation-curve: cubic-bezier(0.3, 0.6, 0, 1);
	--animation-curve-ease-in: cubic-bezier(0.1, 0.0, 1, 0.6);
}

* {
	animation-duration: var(--animation-duration);
	animation-timing-function: var(--animation-curve);
	/* This property will trigger hardware acceleration if supported */
	backface-visibility: hidden;
}
/* spring-up animation */
.spring-up-enter-active {
	animation-name: spring-opacity-up;
}

.spring-up-enter-active[Content] {
	animation-name: spring-opacity-up;
	animation-duration: var(--poster-animation-duration);
}

.spring-up-leave-active {
	animation-duration: var(--animation-duration-short);
	animation-timing-function: linear;
	animation-name: spring-opacity-up-reverse;
}

@keyframes spring-up-reverse {
	to {
		transform: translateY(100%);
	}
}

@keyframes spring-opacity-up {
	from {
		opacity: 0;
		transform: translateY(100%);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes spring-opacity-up-reverse {
	to {
		opacity: 0;
		transform: translateY(40vh);
	}
}

.poster-leave.spring-up-enter-active {
	animation: spring-up var(--poster-animation-duration) var(--animation-curve);
	transition: background-color var(--poster-animation-duration) var(--animation-curve);
}

.poster-leave.spring-up-enter-from {
	background-color: white !important;
}

@keyframes spring-up {
	from {
		transform: translateY(100%);
	}

	to {
		transform: none;
	}
}

.poster-leave.spring-up-enter-from[ContentView] {
	background-color: white !important;
}

/* push-left and push-right animations */
.push-left-enter-active,
.push-left-leave-active,
.push-right-enter-active,
.push-right-leave-active {
	transition-property: all;
	transition-duration: var(--animation-duration);
	transition-timing-function: var(--animation-curve);
}

.push-left-enter-from,
.push-right-leave-to {
	transform: translateX(100vw);
}

.push-right-enter-from,
.push-left-leave-to {
	opacity: 0.6 !important;
	z-index: -1000 !important;
	transform: translateX(-40vw);
}

/* slide-left and slide-right animations */
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
	transition-duration: var(--animation-duration);
	transition-timing-function: var(--animation-curve);
}

.slide-left-enter-from,
.slide-right-leave-to {
	transform: translateX(100vw);
}

.slide-right-enter-from,
.slide-left-leave-to {
	transform: translateX(-100vw);
}

/* slide-left and slide-right animations */
.slide-opacity-left-enter-active,
.slide-opacity-left-leave-active,
.slide-opacity-right-enter-active,
.slide-opacity-right-leave-active {
	transition-duration: var(--animation-duration);
	transition-timing-function: var(--animation-curve);
}

.slide-opacity-left-enter-from,
.slide-opacity-right-leave-to {
	opacity: 0 !important;
	transform: translateX(6vw);
}

.slide-opacity-right-enter-from,
.slide-opacity-left-leave-to {
	opacity: 0 !important;
	transform: translateX(-6vw);
}

/* Animation 'opacity' */
.opacity-enter-active,
.opacity-leave-active {
	transition-duration: var(--animation-duration);
	transition-timing-function: var(--animation-curve);
}

.opacity-enter-from,
.opacity-leave-to {
	opacity: 0 !important;
}

.opacity-enter-to,
.opacity-leave-from {
	opacity: 1;
}