.card > [actions] {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	--button-margin: 0.6em 0 0 1em;
}

.card > [flex-row] {
	display: flex;
	flex-direction: row;
}

.card > [flex-column] {
	display: flex;
	flex-direction: column;
}
/* Theme list-entry */
.card.list-entry {
	margin: 0.2em 0;
	width: 100%;
	background-color: var(--gray-light);
	padding-bottom: var(--padding);
}
.card.list-entry > * {
	padding: 0 var(--padding);
}

.card.list-entry > [title] {
	display: flex;
	align-items: unset;
	justify-content: left;
	color: var(--accent-dark);
	background: var(--accent-light);
	padding: 0.4em var(--padding);
}

.card.list-entry > [title] > * {
	display: flex;
	flex-wrap: wrap;
}

.card.list-entry > [title] .large {
	font-size: 1.4em;
	line-height: 1.4em;
}

.card.list-entry > [title] .small {
	font-size: 0.9em;
}

.card.list-entry > [title] .suffix {
	align-self: center;
	flex-shrink: 1;
	font-size: 0.9em;
	color: var(--gray);
	opacity: 0.5;
}

/* Theme flat-round */
.card.flat-round {
	margin: 0.2em 0;
	width: 100%;
	border-radius: 1em;
	overflow: hidden;
	padding-bottom: var(--padding);
	border: 0.06em solid var(--color-bright);
}

.card.flat-round.selected {
	border-width: 0.08em;
}

.card.flat-round > * {
	padding: 0 var(--padding);
}

.card.flat-round > [title] {
	display: flex;
	align-items: top;
	justify-content: left;
	color: var(--color);
	padding: var(--padding);
}

.card.flat-round > [title] > * {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	color: var(--color-text);
}

.card.flat-round > [title] .large {
	font-size: 1.6em;
	line-height: 1em;
}

.card.flat-round.selected > [title] .large {
	font-weight: 500;
}

.card.flat-round > [title] .small {
	font-size: 0.9em;
}

.card.flat-round > [title] .suffix {
	align-self: center;
	flex-shrink: 1;
	font-size: 0.9em;
	opacity: 0.5;
}