/* Theme ListEntry */
.card.list-entry {
	margin: 0.2em 0;
	width: 100%;
	background-color: var(--gray-light);
	padding-bottom: var(--padding);
}
.card.list-entry > * {
	padding: 0 var(--padding);
}

.card.list-entry > [title] {
	display: flex;
	align-items: unset;
	justify-content: left;
	color: var(--accent-dark);
	background: var(--accent-light);
	padding: 0.4em var(--padding);
}

.card.list-entry > [title] > * {
	display: flex;
	flex-wrap: wrap;
}

.card.list-entry > [title] .large {
	font-size: 1.4em;
	line-height: 1em;
	height: 1.4em;
	line-height: 1.4em;
}

.card.list-entry > [title] .small {
	font-size: 0.9em;
}

.card.list-entry > [title] .suffix {
	align-self: center;
	flex-shrink: 1;
	font-size: 0.9em;
	color: var(--gray);
	opacity: 0.5;
}

.card.list-entry > [actions] {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	--button-margin: 0.6em 0 0 1em;
}