[float] {
	position: absolute;
	margin: 0 !important;
	padding: 0 !important;
	--float-padding: var(--padding);
}

[float][_1em] {
	--float-padding: 1em;
}

[float][float-left] {
	left: var(--float-padding);
}

[float][float-right] {
	right: var(--float-padding);
}

[float][float-top] {
	top: var(--float-padding);
}

[float][float-bottom] {
	bottom: var(--float-padding);
}