@import './codicon/codicon.css';
@import './fa/all.min.css';
:root {
<<<<<<< HEAD
		font-family: 'Avenir', 'Avenir Next', Helvetica, sans-serif;
=======
	font-family: 'Avenir', 'Avenir Next', Helvetica, sans-serif;
>>>>>>> origin
}

.mono {
	font-family: 'Cascadia Code', 'Monaco', 'Courier New', Courier, monospace;
}