/* Input */
textarea {
	border: none;
	width: 100%;
	padding: 1em;
	font-size: 1.1em;
	background-color: var(--gray-background);
	vertical-align: top;
	outline: none;
	resize: vertical;
	overflow-wrap: normal;
}

textarea:focus {
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
}