.popup {
	/* Positioning */
    position: absolute;
	left: 50vw;
	top: 50vh;
	transform: translate(-50%, -50%);
	/* Layout */
	max-width: 90vw;
	max-height: 90vh;
	padding: 1rem;
	/* Appearance */
	background-color: #FAFAFA;
	box-shadow: 2px 2px 16px #0006;
}

._popup_warper_ {
	/* box-sizing: content-box; */
	margin: -1rem;
}

/* Child element styles */
._popup_warper_ > * {
	display: block;
	margin: 1rem;
}