.shadow-dynamic {
	transition: 80ms;
}

.shadow-light {
	box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.08);
}

.shadow-light.shadow-dynamic:hover,
.shadow-light.shadow-dynamic:focus {
	box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.1);
}