[sidebar] > span{
	display: flex;
	padding: 0.8rem 1.6rem;
	user-select: none;
	align-items: center;
	transition: 200ms;
}

[sidebar] > span.entry{
	cursor: pointer;
	color: var(--accent-dark);
}

[sidebar] > span.entry:hover{
	background-color: #08D1;
}

[sidebar] > span.entry:active{
	background-color: #08D2;
}

[sidebar] > span.entry i{
	margin-right: 1rem;
	font-size: 1.2em;
	width: 1.2em;
}

[sidebar] > span.domain{
	color: var(--gray);
	font-size: 0.8em;
	margin-top: 0.6rem;
	padding: 0.6rem 1.6rem;
}