
html,
body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;   
}

/* questionnaire style  */
#questionnaire{
    width: 100%;
    height: 100%;
    background-color: var(--bodybgc);
}
.main{
    width: 58em;
    background-color: var(--mainbgc);
    margin: auto;
}
header h1{
    color: var(--accent);
    font-size: 1.5em;
    text-align: center;
    padding-top: 1em;
}
header p{
    text-align: center;
    color: var(--fontcolor);
    padding: 2em 0 1em;
    border-bottom: 1px dashed var(--dashcolor);
}
.title .star{
    color: var(--red);
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.page1,.page2,.page3,.page4{
    box-shadow: 0 0.25em 0.5em 0 var(--shadow);
    transition: 0.3s;
    border-radius: 5px;
}
.page1,.page2,.page3,.page4:hover{
    box-shadow: 0 0.5em 1em 0 var(--shadow);
}
i{
    color:var(--red);
}

/* page1 style */
.page1{
    margin: 2em 0 0.5em 0;
    padding: 1em 0;
}
.page1 .question{
    margin: 1.7em 6em 1.7em 4em;
}
.page1 .question .title{
    display: inline-block;
    /* text-align-last: justify; */
    color: var(--fontcolor);
    margin: 0.25em 2em 0.25em 1em;
}
.page1 .question .inputContent{
    width: 18em;
    height: 2em;
    border: 1px solid var(--fontcolor);
    border-radius: 2px;
}
.page1 .question .inputContent:focus{
    border: 1px solid var(--accent);
}
.page1 .question ul li{
    display: inline-block;
    width: 6.875em; 
    border: 1px solid var(--fontcolor);
    border-radius: 2px;
    color: var(--fontcolor);
    text-align: center;
}
.changeColor{
    background-color: var(--dashcolor);
}
.page1 .question ul li:hover{
    cursor: pointer;
    background-color: var(--dashcolor);
    border: 1px solid var(--accent);
}
.page1 .question ul li:first-child{
    margin-right: 1em;
}
.buttonClick{
    width: 10em;
    height: 3em;
    font-size: 1em;
    color: var(--mainbgc);
    background-color: var(--accent);
    margin: 3.5em 0;
    border-radius: 3px;
}

/* page2 style */
.page2{
    margin: 2em 0 0.5em 0;
    padding: 1.8em 3em;
}
.page2 .question{
    margin: 1em 0 1.8em 0;
}
.page2 .title{
    color: var(--fontcolor);
    margin: 0.25em 0;
}
.up_button,.down_button{
    width: 7em;
    height: 3em;
    font-size: 1em;
    color: var(--mainbgc);
    background-color: var(--accent);
    margin: 2.5em 2em;
    border-radius: 3px;
}

/* page3 style */
.page3{
    margin: 2em 0 0.5em 0;
    padding: 1.8em 3em;
}
.page3 .question{
    margin: 1em 0 1.5em 0;
}
.page3 .title{
    color: var(--fontcolor);
    margin: 0.2em 0;
}
.page3 ul li{
    display: inline-block;
    margin-right: 2em;
    width: 6.875em; 
    border: 1px solid var(--fontcolor);
    border-radius: 2px;
    color: var(--fontcolor);
    text-align: center;
}
.page3 .question ul li:hover{
    cursor: pointer;
    background-color: var(--dashcolor);
    border: 1px solid var(--accent);
}

/* page4 style */
.page4{
    margin: 1em 0 0 0;
    padding: 0 3em;
}
.page4 .question{
    margin: 1em 0 1.5em 0;
}
.page4 .title{
    color: var(--fontcolor);
    margin: 0.2em 0;
}
.page4 .upload{
    position: relative;
    width: 100%;
    height: 2.5em;
    cursor: pointer;
    display: inline-block;
    border:1px solid var(--bordercolor);
}
.page4 .upload i{
    position: absolute;
    top:50%;
    left: 39%;
    transform: translate(-50%,-50%);
    font-size: 1em;
    color: var(--dashcolor);
}
.page4 .upload span{
    position: absolute;
    top:50%;
    left: 53%;
    transform: translate(-50%,-50%);
    color: var(--dashcolor);
}
.option{
    color: var(--fontcolor);
    margin: 0.25em 1em;
}

@media only screen and (max-width:500px){
    body{
        overflow: auto;
    }
    textarea{
        width: 100%;
        height: 100px;
        resize: none;
        font-family: 'Avenir', 'Avenir Next', Helvetica, sans-serif;
        font-size: 16px;
    }
    .main{
        width: 100%;
    }
    .page1,.page2,.page3,.page4{
        width: 100%;
        box-shadow: none;
        transition: none;
    }
    .page4:hover{
        box-shadow: none;
    }
    .answerTitle{
        font-size: 20px;
    }
    .page1 .question{
        margin: 2em auto;
    }
    .page1 .question .inputContent{
        height: 3em;
    }
    .page1 .question ul li{
        height: 40px;
        line-height: 40px;
    }
    .page3 input[type=text]{
        height: 40px;
        width: 240px;
    }
    .page3 ul li{
        height: 50px;
        line-height: 50px;
        margin-bottom: 10px;
    }
    .page4 .option{
        height: 30px;
        line-height: 30px;
    }
    .page4 .option label{
        font-size: 18px;
    }
    .page4 .option input[type=checkbox]{
        height: 20px;
        width: 20px;
        transform: translateY(3px);
    }
    .page4 .option input[type=text]{
        height: 30px;
        transform: translateY(-2px);
    }
    .page4 .upload{
        height: 10em;
    }
    .page4 .upload span{
        text-align: center;
        width: 200px;
    }
    .page4 .upload i{
        transform: translateX(25px) translateY(10px);
    }
}

