[reportBody] {
	user-select: text;
	padding: 0 0.8em;
	margin: 0.5em 0;
	user-select: text;
	border-left: 0.2em solid var(--gray-brighter);
	line-height: 150%;
}

[reportBody] * {
	user-select: text;
	display: block;
}

[reportBody]:hover {
	background-color: rgba(0, 0, 0, 0.03);
	border-left: 0.2em solid var(--accent-bright);
}